.todo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.todo-container input{
    width:20px;
    accent-color: blue;
    border: 2px solid red;
    height: 20px;

}
.todo-container p{
    /* overflow-y: scroll; */
    max-width: 200px;
    overflow:hidden;
}
.todo-input{
    font-size: 20px;
    font-weight: bolder;
}

